<!DOCTYPE html>
<html>
<head>
  <title>Simpleapp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <meta name='trackmetrics_verification' content='f3d20f9cb472858efc51ae9736a3ccc2ebb06a1f1fe7e97860ea50a4c70d'/>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "//localhost:3000/assets/trackmetrics.js" %>
<script>
    Trackmetrics.setAuthToken('b5b225fd90e3b715b0e81958ca00001ca4e89e9e71e955c45b31380cfa1e');
    Trackmetrics.send("page_view",{test: true});
</script>

</head>
<body>

<%= yield %>

</body>
</html>
